.estudo {
    border-style: solid;    
    border-color:red;
}

.estudo1 {
    display: flex;
    justify-content: space-evenly;
    border-style: solid;    /* Cria uma borda sólida */
    border-color:red;   /* Colore a borda com a cor vermelha */
    margin: 10%;    /* Adiciona uma margem ao redor da section */
    display: flex;  /* Adiciona o display flex */
}