body { 
    background-color: #1B1617;
}

h1 {
    color: #AAAAAA;
    font-weight: bold;
    /* Adicionar mais estilos conforme necessário */
}
p {
    color: #AAAAAA;
    /* Adicionar mais estilos conforme necessário */
}

strong {
    color: #1A9782;
}

span {
    color: #1A9782;
    border: 1px solid #1A9782;   
    padding: 2px; 
}

a {
    background-color: #1A9782;
    color: #F6F6F6;
    border: none;
    /* Adicionar mais estilos conforme necessário */
}
img {
    width: 300px;
}
/* Adicionar mais estilos conforme necessário */