* {
    margin: 0;
    padding: 0;
}

body { 
    background-color: #1B1617;
    height: 100vh;
}

h1 {
    color: #F6F6F6;
    font-weight: bold;
    /* Adicionar mais estilos conforme necessário */
}
p {
    color: #F6F6F6;
    /* Adicionar mais estilos conforme necessário */
}

.titulo-destaque {
    color: #1A9782;
}

.texto-destaque {
    color: white;
    border: 1px solid #1A9782;   
    padding: 2px; 
}

a {
    background-color: #1A9782;
    color: #F6F6F6;
    border: none;
    /* Adicionar mais estilos conforme necessário */
}
img {
    width: 300px;
}
/* Adicionar mais estilos conforme necessário */