@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #1B1617;
    --cor-secundaria: #F6F6F6;
    --cor-tercearia: #22D4FD;
    --cor-houver: #727171c4;
}

* {
    margin: 0;
    padding: 0;
}

body { 
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    /* height: 100vh; */
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho_menu {
    display: flex;
    justify-content: flex-start;
    padding-left: 130px;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}

.cabecalho_menu_link:hover {
    color: var(--cor-secundaria);    
}
    
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
}

.apresentacao_conteudo {
    width: 615px; 
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao_conteudo_titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    color: var(--cor-secundaria);
    font-weight: bold;    
}

.apresentacao_conteudo_texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: var(--cor-secundaria);    
}

.titulo-destaque {
    color: var(--cor-tercearia);
}

.texto-destaque {
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-tercearia);   
    padding: 2px; 
}

.imagem {
    width: 320px;
}
/* Adicionar mais estilos conforme necessário */

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;     
    align-items: center;  
    gap: 35px;
}

.apresentacao_links_subtitulo { 
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;        
}

.apresentacao_links_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 378px;     
    text-align: center;
    border-radius: 8px;
    font-size: 24px;    
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: .3s all ease-in-out;
    color: var(--cor-secundaria);
    padding: 21.5px 0;
    text-decoration: none;
    transition: .3s all ease-in-out;     
}   

.apresentacao_links_link:hover {
    background-color: var(--cor-houver);
    color: var(--cor-tercearia);
}

.rodape { 
    background-color: var(--cor-tercearia) ;
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/* Style - CV */

.apresentacao_conteudo_texto a {
    text-decoration: none;
    color: var(--cor-tercearia);
}

