@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #1B1617;
    --cor-secundaria: #F6F6F6;
    --cor-tercearia: #22D4FD;
    --cor-hover: #727171c4;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria : 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body { 
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    /* height: 100vh; */
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho_menu {
    display: flex;
    justify-content: flex-start;
    padding-left: 130px;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}

.cabecalho_menu_link:hover {
    color: var(--cor-secundaria);    
}
    
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
    gap: 82px;
}

.apresentacao_conteudo {
    width: 50%; 
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-weight: bold;    
}

.apresentacao_conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);    
}

.titulo-destaque {
    color: var(--cor-tercearia);
}

.texto-destaque {
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-tercearia);   
    padding: 2px; 
}


.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;     
    align-items: center;  
    gap: 35px;
}

.apresentacao_links_subtitulo { 
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;        
}

.apresentacao_links_navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 50%;     
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;    
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    transition: .3s all ease-in-out;
    color: var(--cor-secundaria);
    padding: 21.5px 0;
    text-decoration: none;
    transition: .3s all ease-in-out;     
}   

.apresentacao_links_link:hover {
    background-color: var(--cor-hover);
    color: var(--cor-tercearia);
}

.apresentação_imagem {
    width: 50%;
}

.rodape { 
    background-color: var(--cor-tercearia) ;
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

/* Style - CV */

.apresentacao_conteudo_texto a {
    text-decoration: none;
    color: var(--cor-tercearia);
}

@media (max-width: 1200px) {

    .apresentacao {
        flex-direction: column-reverse;        
    }


}